<%- model_class = Horario -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<div class='team'>
  <p><b>Id:</b> <%= @horario.id %></p>
  <p><b>Fecha:</b> <%= @horario.fecha %></p>
  <p><b>Hora:</b> <%= @horario.hora %></p>
  <p><b>Aula:</b> <%= @horario.aula %></p>
  <p><b>Curso:</b> <%= @horario.curso_id %></p>
  <p><b>Instructor:</b> <%= @horario.instructor_id %></p>
  <p><b>Materia:</b> <%= @horario.materia_id %></p>

    
   
 


</div>


