<%- model_class = Instructor -%>
<div class="page-header">
  <h1><%= link_to image_tag("universidad.png")%><i>Instructores</i></h1>
</div>
<div class="row">
  <div class="span4">
    <%= form_tag request.path, :class => 'form-vertical', :method => 'get' do %>
      <%= content_tag :label, :class => 'control-label' do %>
      <h4>Bucar Instructores</h4>
          <%= text_field_tag :search, params[:search], :class => 'text_field' %>
          <%= submit_tag "Consultar", :class => 'btn btn-medium', :name => nil %>
          <%= content_tag :label, :class => 'control-label' do %>
      <h4>Registros Mostrar</h4>
          <%= text_field_tag :registro, params[:registro], :class => 'text_field'  %>
          <%= submit_tag "Consultar", :class => 'btn btn-medium'  %>
    </div>
    <% end %>
   <% end %>
  <% end %>   
</div>
<table class="table table-bordered pretty ">

  <thead>
    <tr >
     <th><%=  sortable  "id"  %></th>
      <th><%= "Nombre" %></th>
      <th><%= "Cedula" %></th>
      <th><%= "Email" %></th>
      <th><%= "Direccion" %></th>
      <th><%= "Profecionalismo" %></th>
       <th>Fotos</th>
    </tr>
  </thead>
  <tbody>
     <%= render @instructores %>
  </tbody>
  <tfoot>
    <tr>
      <td><%= link_to image_tag('nuevo.png', :tile  => "Mostrar Equipos"),  new_instructor_path,  :remote => true %></td>
   
    </tr>
  </tfoot>
  <tfoot>
    <tr>
      <td>
    <b>Total Instructores</b>
  </td>
    <td>
   <p id='total_regs'><%= @instructores.total_entries %></p>
  </td>
    </tr>
  </tfoot>
</table>
</div>

   <br />
  <br />
  <div align="center">
    <div class="pagination">
    </ul>
    <%= will_paginate @instructores, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente
    &raquo;' %>
  </ul>
  </div>
</div>
